.education{
    margin-top: 4rem;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 2rem;
}

.education .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.education .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.education .card span{
    display: inline-block;
    background-color: #ffffff;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.education .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
}

.education .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.education .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.education .card a:hover{
    color: #1e40af;
}