.skills-header-title{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.skills-container{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 10rem;
}

.skills{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.skills .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.skills .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.skills .card span{
    display: inline-block;
    background-color: #ffffff;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.skills .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
}

.skills .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.skills .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.skills .card a:hover{
    color: #1e40af;
}

.skills-container-content{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    align-items: flex-start;
    text-align: start;
}

.h4-items {
    display: flex;
    align-items: center;
    gap: 8px;
}

.skills-container-content-col2{
    display: flex;
    flex-direction: row;
    /* padding-left: 10%; */
    align-items: flex-start;
    text-align: start;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .skills-container-content-col2 {
    padding-left: 10%;
    justify-content: flex-start;
    gap: 10%;
  }
}