@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Lobster&family=Pixelify+Sans:wght@400..700&family=Bebas+Neue&display=swap');

.home-image{
    /* display: flex; */
    height: 100vh;
    background-image: url('../../../public/static/media/background1280_2.png');
    /* background-color: black; */
    background-size: cover;
    /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 0 8px 8px #18181B inset;
}

.home-image-content{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    width: 35%;
    margin-left: 10%;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    max-height: 70%;
    height: 70%;
}

.home-text-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.home-text-content .home-text-name{
    font-size: 50px;
    font-weight: bold;
}

.home-text-content .home-text-course{
    /* font-size: 40px; */
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
}

.home-text-content .home-text-description{
    font-size: 20px;
}

.home-text-name span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    padding-top: 6%;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

.header-title{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

@media screen and (min-width: 769px) {
    .education{
        grid-template-columns: repeat(3, 1fr);
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    .experience-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-container{
        grid-template-columns: repeat(2, 1fr);
    }

    footer{
        grid-template-columns: 400px repeat(1, 1fr);
    }

    .home-text-course{
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .home-image-content{
        max-width: 85%;
        width: 85%;
    }

    .education{
        grid-template-columns: repeat(3, 1fr);
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    .experience-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-container{
        grid-template-columns: repeat(2, 1fr);
    }

    footer{
        grid-template-columns: 400px repeat(1, 1fr);
    }

    .home-text-course{
        font-size: 40px;
    }
}

@media screen and (max-width: 425px) {
    .home-image-content{
        justify-content: center;
        margin-top: 5%;
    }

    .home-text-content .home-text-name{
        font-size: 40px;
    }

    .home-text-content .home-text-course{
        font-size: 23px;
    }

    .home-text-content .home-text-description{
        font-size: 18px;
    }

    .home-image-content{
        max-width: 85%;
        width: 85%;
    }

    .education{
        grid-template-columns: none;
    }

    .projects{
        grid-template-columns: none;
    }

    .experience-container{
        grid-template-columns: none;
    }

    .skills-container{
        grid-template-columns: none;
    }

    footer{
        grid-template-columns: none;
    }

    .home-text-course{
        font-size: 40px;
    }
}

@media screen and (max-width: 375px) {
    .home-text-content .home-text-course{
        font-size: 18px;
    }

    .home-text-content .home-text-name{
        font-size: 30px;
    }
    
}