.experience-header-title{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.experience-container{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 10rem;
}

.experience{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.experience .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.experience .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.experience .card span{
    display: inline-block;
    background-color: #ffffff;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.experience .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
}

.experience .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.experience .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.experience .card a:hover{
    color: #1e40af;
}

.experience-container-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align:justify;
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 10%;
}

.exp-h4-items {
    display: flex;
    align-items: start;
    font-size: 1.5rem; 
    /* text-indent: -1.2em;
    padding-left: 1.2em; 
    line-height: 1.6;  */
    font-weight: 300;
}

.exp-container-content-col2{
    display: flex;
    flex-direction: row;
    /* padding-left: 10%; */
    align-items: flex-start;
    text-align: start;
    flex-wrap: wrap;
    justify-content: space-around;
}

.exp-container-content-cols{
    width: 40%;
}

@media screen and (max-width: 768px) {
  .exp-container-content-col2 {
    padding-left: 10%;
    justify-content: flex-start;
    gap: 10%;
  }

    .exp-container-content-cols{
    width: 100%;
  }
}